<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="LocalDataStoreDataContext" connectionString="SQLSERVER_CONNECTION_STRING" providerName="System.Data.SqlClient" />

    <!-- NServiceBus connectionstrings -->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NServiceBus/Persistence" connectionString="Server=ceb476d9-ae1e-459d-88ee-a3e701381227.sqlserver.sequelizer.com;Database=dbceb476d9ae1e459d88eea3e701381227;User ID=yradhgrscnvqcsue;Password=7iPPndmg3DgsanMEyc48WkHJZEJngoe28ouQDru3D2oWjwSZ2undXXvUGeXQB7aM;" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NServiceBus/Transport" connectionString="Server=ceb476d9-ae1e-459d-88ee-a3e701381227.sqlserver.sequelizer.com;Database=dbceb476d9ae1e459d88eea3e701381227;User ID=yradhgrscnvqcsue;Password=7iPPndmg3DgsanMEyc48WkHJZEJngoe28ouQDru3D2oWjwSZ2undXXvUGeXQB7aM;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- NServiceBus Config -->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(Type)" Assembly="Messages" Type="Samples.NServiceBus.Messages.Events.ProductWasAdded" Endpoint="CMS" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(Type)" Assembly="Messages" Type="Samples.NServiceBus.Messages.Events.ProductWasUpdated" Endpoint="CMS" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(Type)" Assembly="Messages" Type="Samples.NServiceBus.Messages.Events.ProductWasRemoved" Endpoint="CMS" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(Type)" Assembly="Messages" Type="Samples.NServiceBus.Messages.Events.ProductWasPurchased" Endpoint="CMS" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="Samples.CmsUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="http://examples.nservicebus.cms.apphb.com" />
    <add key="NServiceBus.EndPointName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Webshop"/>
  </appSettings>
</configuration>
