<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="CmsDataContext" connectionString="SQLSERVER_CONNECTION_STRING" providerName="System.Data.SqlClient" />
  
    <!-- NServiceBus connectionstrings -->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NServiceBus/Persistence" connectionString="NSERVICEBUS_CONNECTIONSTRING" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NServiceBus/Transport" connectionString="NSERVICEBUS_CONNECTIONSTRING" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- NServiceBus Config -->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(Type)" Assembly="Messages" Type="Samples.NServiceBus.Messages.Commands.PurchaseProductCommand" Endpoint="Webshop" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="Samples.WebshopUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="http://examples.nservicebus.webshop.apphb.com" />
    <add key="NServiceBus.EndPointName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="CMS"/>
  </appSettings>
</configuration>
